@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mulish:wght@300&family=Noto+Sans:wght@300;400&family=Nunito:ital,wght@1,200&family=Poppins&family=Roboto:ital,wght@1,900&family=Stick+No+Bills:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@800&family=Kanit:wght@600&family=Merriweather+Sans:wght@700&family=Merriweather:wght@900&family=Mulish:wght@300&family=Noto+Sans:wght@300;400&family=Nunito:ital,wght@1,200&family=Poppins&family=Roboto:ital,wght@1,900&family=Stick+No+Bills:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Heebo:wght@800;900&family=Kanit:wght@600&family=Merriweather+Sans:wght@700&family=Merriweather:wght@900&family=Mulish:wght@300&family=Noto+Sans:wght@300;400&family=Nunito:ital,wght@1,200&family=Passion+One:wght@700&family=Poppins&family=Roboto:ital,wght@1,900&family=Rowdies&family=Stick+No+Bills:wght@700&display=swap');


body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.head {
    width: 100%;
    height: 65px;
    background-color: rgb(4, 4, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    color: white;
    position: fixed;
    top: 0px;
    flex: 1;
}
.container{
    background-color: rgb(4, 4, 248) !important;
}
.navbar{
    background-color:rgb(4, 4, 248) !important ;
}
.navbar-brand img{
    width:75px;
    /* padding-left: 20px; */
    margin-left: 30px;
}
.collapse li a{
    color: white !important;
    font-size: 19px;
    font-weight: 800;
    /* padding-left: 20px; */
    margin-left: 50px;
}
.btn {
    background-color:rgb(4, 4, 248) !important ;
    color: white !important;
    font-weight: 850 !important;
    font-size: 18px !important;
    margin-right: 35px !important;
    border-radius: 30px !important;
    padding: 5px 30px !important;
    border-color: white !important;
}

.head-6 {
    flex:2 !important;
}

.foot-img {
    display: flex;
}

.pvt {
    display: none;
}
.texts{
    display: flex;
}
.text123{
    display: none;
}
.text-1{
    display: flex;
}

.foot-img {
    /* display: flex; */
    flex-direction: row;
    width: 80%;
    margin: 0px auto;
    border: 5px solid blue;
    background-color: black;
    
}

@media only screen and (max-width: 1024px) {

    .pvt {
        display: block;

    }
    .pvt {
            width: 100%;
            height: 115px;
            background-color: rgb(4, 4, 248);
            font-family: 'Heebo', sans-serif;
            font-size: 18px;
            color: white;
            position: fixed;
            top: 0px;
            

    }
    .pvt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around; 

        
    }
    .pvt-btn-1 img{
        height: 80px;
        width: 50px;
    } 
    .pvt-btn-2{
        width: 600px;
        text-align: center;


    }
    .pvt-btn-3{
        font-size: 30px;

    }

    .head{
        display: none;
    }

   

    .foot-img {
        /* display: none; */
    }
    .texts{
        display: none;

    }
    .text123{
        display: block;
    }
/* knkksxnqskqssssssssssssssssss */
    .text123 {
        font-family: 'Heebo', sans-serif;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
    }
    
    .text123 h2 {
        font-size: 3rem;
        font-weight: 1000 !important;
        width: 100%;
        /* height: 500; */
        /* line-height: 90px; */
        text-align: center;
        /* margin: 0px; */
    }
    
    .text123 h3 {
        text-align: center;
        font-size: 50px;
        margin: 0px;
        height: 65px;
        padding: 0px;
    
    }
    #blue-font{
        margin: 0px auto;
        padding: 0px 10px;
        margin-bottom: 10px;
        text-align: center;
        /* font-size: 60px; */
        color: white !important;
        background-color: blue;
        height: 100%;
    }
    .footeur{
        background-color: black !important;
    }
    .iconv{
        background-color: blue;
        /* padding: 10px 0px; */
        width: 50% !important;
        margin: 0px auto;
        text-align: center;
        align-items: center;

    }
       

}

@media only screen and (max-width: 600px){
    .text-1 h2 {
        font-size: 4rem;
        line-height: 80px;
    }
    
    .text-1 h3 {
     
        font-size: 2rem;
        line-height: 80px;
    }
    
    .text-1 h1 {
      
        padding-bottom: 10px;
        line-height: 90px;
        color: blue;
        font-size: 140px;
    }
    
}


@media only screen and (max-width: 380px){
    #blue-font{
        font-size: 40px !important;
    }

    .text-1 h2 {
        font-size: 3rem !important;
        line-height: 60px !important;
    }
    
    .text-1 h3 {
     
        font-size: 3rem !important;
        line-height: 60px !important;
    }
    
    .text-1 h1 {
      
        /* padding-bottom: 10px; */
        line-height: 50px !important;
        color: blue;
        font-size: 50px !important;
    }
    .foot-img {
        flex-direction: column !important;
        width: 90%;
    }
    

}


.images-pepsi img{
   width:100%;
}

.headbtn-1 img {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-left: 40px;


}


.head li {
    font-family: 'Heebo', sans-serif;
    display: inline;
    list-style: none;
    padding: 25px;

}

.headbtn-4 p {

    border: 3px solid white;
    border-radius: 50px;
    font-family: 'Heebo', sans-serif;
    width: 280px;
    height: 33px;
    text-align: center;
    padding-top: 4px;


}

.headbtn-4 {

    padding-right: 10px;
}

.hero__video {
    width: 100%;
}

.texts {
    font-family: 'Heebo', sans-serif;
    width: 100%;
    /* height: 250px; */
    /* margin-top: 20px; */
    background-color: black;
    color: white;
    flex-direction: column;
    text-align: center;
    padding: 60px 0px;
}
.weq{
    padding: 0px 0px;
}
.texts h2 {
    font-size: 7rem;
    font-weight: 700;
    width: 100%;
    line-height: 90px;
    margin: 0px;
}

.texts h3 {
    text-align: center;
    font-size: 60px;
    margin: 0px;
    height: 65px;
    padding: 0px;

}

#blue-font {
    text-align: center;
    color: rgb(24, 24, 214);
    margin-bottom: 15px;
}

.img-add img {
    width: 100%;

}

.text-1 {
    font-family: 'Passion One', cursive;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: black;



}

.text-1 h2 {
    font-size: 6rem;
    color: white;
}

.text-1 h3 {
   
    color: blue;
    font-size: 4rem;
}

.text-1 h1 {
    color: blue;
    font-size: 7rem;
}

.mid {
    color: white;
}

.img-background {
    cursor: pointer;
}

.parag {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    height: 120px;
    width: 100%;
    font-family: sans-serif;
}
.other__video {
    width: 100%;
}

.footers {
    width: 100%;
    margin-bottom: 10px;
}

.footer-1 {
    width: 100%;
    /* height: 80px; */
    color: blue;
    /* font-size: 40px; */
    font-family: 'Passion One', cursive;
    text-align: center;
    /* margin-bottom: 30px; */

}



.foot-img-1 img {
    width: 100%;
    height: 100%;
    padding: 0px;

}

.footer-end {
    font-family: 'Heebo', sans-serif;
    background-color: blue;
    width: 100%;
    height: 250px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    text-align: center;


}

.pepsi-logo img {
    width: 120px;
    height: 120px;
}

.content-1 {
    font-size: 20px;
    line-height: 15px;
    font-size: 21px;
    justify-content: start;

}
.footeur{
    background-color: blue;
    /* margin-bottom: 50px !important; */
    width: 100%;

}


.containerd{
    width: 100%;
    /* background-color: blue; */
    padding: 90px 0px;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    /* margin-bottom: 50px !important; */
}
.containerd li{
    color: white;
    font-size: 20px;
    font-weight: 800;
    list-style: none;
    width: 100%;
}
.we{
    /* width: 90% !important; */
    /* background-color: aqua; */
    /* width: 50% !important;
    margin: 0px auto !important; */
}
.icon-1 img{
    width: 3rem;
}
.iconv{
    display: flex;
    justify-content: center;
    gap: 10px;
    /* text-align: center; */
    /* margin: 0px auto; */
}
hr{
    background-color: white !important;

}
.end{
    color: white;
}